{% extends 'base.html' %}
{% include 'header.html'%}

{% block title %} Home {% endblock %}

{% block body %}

<div class = "text-center col-md-12 align-self-center">
    <a href = "/users" class = "btn btn-outline-primary btn-lg">All users</a>
    <a href = "/records" class = "btn btn-outline-primary btn-lg">All records</a>
    <a href = "/publicservants" class = "btn btn-outline-primary btn-lg">All Public Servants</a>
    <a href = "/diseases" class = "btn btn-outline-primary btn-lg">Diseases</a>


</div>


{% endblock %}